ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
li {
    margin: 5px;
    padding: 5px;
    width: 150px;
}
#table-wrap {
    width: fit-content;
    height: fit-content;
    background-color: rgb(226, 222, 216);
}